<section id="copy-right">
      
    <div class="copy-right-sec">
<img src="./images/WM2.PNG" alt="logo" class="logo-footer" />
<p>
  © Web blog Powered By <a href="#">Wal Monfortt</a> 
</p>
    </div>

</section>