<div class="form-container">
  <h1>Add new blog entry </h1>
<form class="cf">
  <div class="half left cf">
    <input type="text" id="title-blog" placeholder="Title">
    <input type="text" id="owner-name" placeholder="Author">
  </div>
  <div class="half right cf">
    <textarea name="content" type="text" id="input-content" placeholder="Write your text here"></textarea>
  </div>  
  <input type="submit" value="Submit" id="input-submit">
</form>
</div>