<div class="form-container">
  <h1>Add new blog entry </h1>
<form class="cf" action="/submit" method="Post" >
  <div class="half left cf">
    <input name="title" type="text" id="title-blog"  placeholder="Title" required>
    <input name="author" type="text" id="owner-name" placeholder="Author" required>
  </div>
  <div class="half right cf">
    <textarea name="content" type="text" id="input-content" placeholder="Write your text here" required></textarea>
  </div>  
  <input type="submit" id="input-submit">
</form>
</div>