<nav class="bar-container">
    <ul class="menu-hover-fill flex flex-col items-start leading-none text-2xl uppercase space-y-4">
        <li><a href="./" data-text="Home">Home</a></li>
        <li><a href="#" data-text="Essays">Essays</a></li>
        <li><a href="#" data-text="H&P">H&P</a></li>
        <li><a href="#" data-text="Books">Books</a></li>
        <li><a href="#" data-text="Arc">Arc</a></li>
        <li><a href="#" data-text="Bel">Bel</a></li>
        <li><a href="#" data-text="Lisp">Lisp</a></li>
        <li><a href="#" data-text="Spam">Spam</a></li>
        <li><a href="#" data-text="Responses">Responses</a></li>
        <li><a href="#" data-text="FAQs">FAQs</a></li>
        <li><a href="#" data-text="RAQs">RAQs</a></li>
        <li><a href="#" data-text="Quotes">Quotes</a></li>
        <li><a href="#" data-text="RSS">RSS</a></li>
        <li><a href="#" data-text="Bio">Bio</a></li>
        <li><a href="#" data-text="Twitter">Twitter</a></li>
        <li><a href="#" data-text="Mastodont">Mastodont</a></li>
        <li><a href="#" data-text="Contact">Contact</a></li>
    </ul>

    <%- include('./tomatoeAnimation.ejs')  %>
</nav>