<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
   <div class="main-container">
    <%- include('./partials/leftBar.ejs')  %>

<div class="main-title">
   <h1 >Wal's Blog</h1>
   <h2 >Welcome to <FONT COLOR="red"> <%= currentPage %></FONT>  Page </h2>
</div>

<div class="content-container">
   <%- include('./partials/' + currentPage + '.ejs')  %> 
</div>

   <%- include('./partials/footer.ejs')  %>

   </div> 
   <script src="./js/index.js"></script>
</body>
</html>