<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
   <div class="main-container">
    <%- include('./partials/leftBar.ejs')  %>

 <h1 class="main-title">Welcome to Wal's Blog</h1>


    <%- include('./partials/tomatoeAnimation.ejs')  %>


   <%- include('./partials/footer.ejs')  %>

   </div> 
   <script src="./js/index.js"></script>
</body>
</html>